{% extends 'base.html.twig' %}

{% block title %}Tags
{% endblock %}

{% block body %}
	<div class="container mt-5">
		<h1>Créer un tag</h1>
		{{ form_start(form) }}
		{{ form_widget(form)}}
		<button type="submit" class="btn btn-primary mt-3">Créer</button>
		<a href="{{ path('app_tag_list') }}" class="btn btn-secondary mt-3">Voir la liste</a>
		{{ form_end(form) }}
	</div>
{% endblock %}
